####################################################################################################
#                                            IMPORTANT                                             #
####################################################################################################
# Don't commit the .env file to source control
# Make sure .env is in your .gitignore file
# Only use .env files for development purposes

#DEBUG=false
#PORT=8080
KEYS=access-key-one=secret-key-one,access-key-two=secret-key-two

####################################################################################################
#                                              INFO                                                #
####################################################################################################

# If you run the application without KEYS in the environment, the application will generate a key pair